{% extends 'templates/websiteview.html' %}
{% load static %}
{% block title %}
Home

{% endblock title %}
{% block user_name%}
{{user.username}}
{% endblock user_name%}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Home</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">

    <dev class="container-fluid">

        <div class="container-fluid">
            {% for machine in machines%}
            <div class="row">
                <div class="col-12">
                
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{machine.machine_id}} </h3>
                            <p>{{machine.latest_data.data}}</p>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                            
                            <!--temperatur-->
                            <div class="col-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Area Chart</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="temperature_{{ machine.machine_id }}" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>
                                </div>
                                
                            </div>
                            </div>

                            <!--energi-->
                            <div class="col-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Area Chart</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="energi_{{ machine.machine_id }}" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                            </div>
                        </div>
                
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </dev>


</section>


{% endblock content %}

{% block style %}
{% load static %}

<!-- Google Font: Source Sans Pro -->


{% endblock style %}

{% block script %}
<script>







{%for machine in machines%}


// Get canvas context
var temperatureCanvas_{{ machine.machine_id }} = $('#temperature_{{ machine.machine_id }}').get(0).getContext('2d')

// Define chart data
var temperatureData_{{ machine.machine_id }} = {
    labels: Array.from({length: 20}, (_, i) => i * -20).reverse(),
    datasets: [
        {
            label: 'Temperature',
            backgroundColor: 'rgba(60,141,188,0.9)',
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: [
    {% for data_point in machine.latest_20_data %}
        {% if data_point.data.temperature is not None %}
            {{ data_point.data.temperature }},
        {% else %}
            {{ data_point.data.weld_temperature }},
        {% endif %}
    {% endfor %}
]
        }
    ]
}

// Chart options
var temperaturechartOptions_{{ machine.machine_id }} = {
    maintainAspectRatio: false,
    responsive: true,
    legend: {
        display: true
    },
    scales: {
        xAxes: [{
            gridLines: {
                display: false,
            }
        }],
        yAxes: [{
            gridLines: {
                display: false,
            }
        }]
    }
}

// Create new chart
new Chart(temperatureCanvas_{{ machine.machine_id }}, {
    type: 'line',
    data: temperatureData_{{ machine.machine_id }},
    options: temperaturechartOptions_{{ machine.machine_id }}
})





///////////////////////////////////////////////////////////////////

// Get canvas context
var energiCanvas_{{ machine.machine_id }} = $('#energi_{{ machine.machine_id }}').get(0).getContext('2d')

{% if machine.machine_type == 'LEAK_TEST' %}
    // Define chart data for LEAK_TEST machine type
    var energiData_{{ machine.machine_id }} = {
        labels: Array.from({length: 20}, (_, i) => i * -20).reverse(),
        datasets: [
            {
                label: 'Leak Rate',
                backgroundColor: 'rgba(60,141,188,0.9)',
                borderColor: 'rgba(60,141,188,0.8)',
                pointRadius: false,
                pointColor: '#3b8bba',
                pointStrokeColor: 'rgba(60,141,188,1)',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data: [
                    {% for data_point in machine.latest_20_data %}
                        {{ data_point.data.leak_rate }},
                    {% endfor %}
                ]
            }
        ]
    };

{% elif machine.machine_type == 'AGV' %}
    // Define chart data for AGV machine type
    var energiData_{{ machine.machine_id }} = {
        labels: Array.from({length: 20}, (_, i) => i * -20).reverse(),
        datasets: [
            {
                label: 'Battery Level',
                backgroundColor: 'rgba(60,141,188,0.9)',
                borderColor: 'rgba(60,141,188,0.8)',
                pointRadius: false,
                pointColor: '#3b8bba',
                pointStrokeColor: 'rgba(60,141,188,1)',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data: [
                    {% for data_point in machine.latest_20_data %}
                        {{ data_point.data.battery_level }},
                    {% endfor %}
                ]
            }
        ]
    };
    
{% elif machine.machine_type == 'PAINTING' %}
    // Define chart data for AGV machine type
    var energiData_{{ machine.machine_id }} = {
        labels: Array.from({length: 20}, (_, i) => i * -20).reverse(),
        datasets: [
            {
                label: 'Paint Thickness',
                backgroundColor: 'rgba(60,141,188,0.9)',
                borderColor: 'rgba(60,141,188,0.8)',
                pointRadius: false,
                pointColor: '#3b8bba',
                pointStrokeColor: 'rgba(60,141,188,1)',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data: [
                    {% for data_point in machine.latest_20_data %}
                        {{ data_point.data.paint_thickness }},
                    {% endfor %}
                ]
            }
        ]
    };
{% else %}
    // Define chart data for other machine types
    var energiData_{{ machine.machine_id }} = {
        labels: Array.from({length: 20}, (_, i) => i * -20).reverse(),
        datasets: [
            {
                label: 'Power Consumption',
                backgroundColor: 'rgba(60,141,188,0.9)',
                borderColor: 'rgba(60,141,188,0.8)',
                pointRadius: false,
                pointColor: '#3b8bba',
                pointStrokeColor: 'rgba(60,141,188,1)',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data: [
                    {% for data_point in machine.latest_20_data %}
                        {{ data_point.data.power_consumption }},
                    {% endfor %}
                ]
            }
        ]
    };
{% endif %}

// Now, initialize the chart with the correct data
new Chart(energiCanvas_{{ machine.machine_id }}, {
    type: 'line', // Choose the type of chart you want (e.g., line, bar)
    data: energiData_{{ machine.machine_id }},
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20
                }
            }]
        }
    }
});
// // Chart options
// var energichartOptions_{{ machine.machine_id }} = {
//     maintainAspectRatio: false,
//     responsive: true,
//     legend: {
//         display: true
//     },
//     scales: {
//         xAxes: [{
//             gridLines: {
//                 display: false,
//             }
//         }],
//         yAxes: [{
//             gridLines: {
//                 display: false,
//             }
//         }]
//     }
// }

// // Create new chart
// new Chart(energiCanvas_{{ machine.machine_id }}, {
//     type: 'line',
//     data: energiData_{{ machine.machine_id }},
//     options: energichartOptions_{{ machine.machine_id }}
// })





{%endfor%}
</script>


<!-- Chart.js -->
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'scripts/autoupdate.js' %}"></script>

{% endblock script %}


